{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-icon-180x180.png' %}">
  <link href="{% static 'images/favicon.ico' %}" rel="icon">

  <title>Title page</title>

  <link href="{% static 'css/main.d8e0d294.css' %}" rel="stylesheet">
</head>

<body class="">

  <!-- Add your content of header -->
  <div class="background-color-layer" style="background-image: url('{% static 'images/img-01.jpg' %}')"></div>
  <main class="content-wrapper">
    <header class="white-text-container section-container">
      <div class="text-center">
        <h1>I am David Folley</h1>
        
        {% for message in messages %}
        
        <div class="alert alert-success" role="alert">{{message}}</div>
        
        {%  endfor %}
        

        {% if user.is_authenticated %}
        
        <p class="btn btn-info btn-lg"> Hello, {{user.first_name }}</p>
        <p></p> 
        <p><a href="/accounts/logout" class="btn btn-info btn-lg"> Logout </a></p>
        
        {% else %}
        
        <p><a href="/accounts/register" class="btn btn-info btn-lg"> Registration </a></p>
        <p><a href="/accounts/login" class="btn btn-info btn-lg"> Login </a></p>
        
        {% endif %}
     
      </div>
    </header>
  </main>

  {% block content%}
 
 
  {% endblock%}


    <footer class="footer-container white-text-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p><img src="{% static 'images/mashup-icon.svg' %}" alt=""></p>
    
            <p>©All right reserved. Design <a href="http://www.mashup-template.com/"
                title="Create website with free html template">Mashup Template</a>/<a href="https://unsplash.com/"
                title="Beautiful Free Images">Unsplash</a></p>
            
          </div>
        </div>
      </div>
    </footer>
    
    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        scrollRevelation('.card');
      });
    </script>
    
    <script type="text/javascript" src="{% static 'js/main.bc58148c.js' %}"></script>
    </body>
    
    </html>